@import "./nes.min.css";
@import "./fonts/Press_Start_2P.css";
@import "./animations.css";

* {
    box-sizing: border-box;
}

.d-flex {
    display: flex;
}
.align-center {
    align-items: center;
}


.no-margin {
    margin: 0!important;
}
.ml-1 {
    margin-left: 1em;
}
.ml-2 {
    margin-left: 2em;
}
