@import "./nes.min.css";
@import "./fonts/Press_Start_2P.css";


* {
    box-sizing: border-box;
}

.d-flex {
    display: flex;
}
.align-center {
    align-items: center;
}


.no-margin {
    margin: 0!important;
}
.ml-1 {
    margin-left: 1em;
}
.ml-2 {
    margin-left: 2em;
}

.pulse-animation {
    animation-name: pulse;
    animation-duration: 0.8s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}


@keyframes pulse {
    from {
        transform: scale(1, 1);
    }

    50% {
        transform: scale(1.2, 1.2);
    }

    to {
        transform: scale(1);
    }
}
